header 
    background: #fafafa
    height: 80px
    width: 1862px
    position: relative
    .Barra_header
        font-family: Arial, Helvetica, sans-serif
        display: inline-block
        .FE
            position:absolute
            top: 35%
            font-size: 25px
            left: 20%
            font-weight: bold
            .Front
                color: #40b8f0

            .End
                color: #fe5254
        .info 
            left: 55%
            top 35%
            position: absolute
            .HOME
                color: #fe5254
                margin-left: 25px
            .ABOUT
                color: black
                margin-left: 25px
            .Services
                color: #fe5254
                margin-left: 25px
            .Portfolio
                color: #fe5254
                margin-left: 25px
            .Blog
                color: black
                margin-left: 25px
            .Message
                color: black
                margin-left: 25px
        .Boton
            height: 32px
            width: 120px
            background-color: #fe3f40
            color:white
            font-family: Arial, Helvetica, sans-serif
            font-size: 15px
            display: inline-block
            position: absolute
            left: 85% 
            top: 24%
            border-radius: 16px
            border: none
section
    article
        .imagenes
            display: inline-block
            position:relative
            .ImgSI
                display: inline-block

            .ImgSD
                display: inline-block
                img
                    position : absolute
                    left: 1770px
                    bottom: 180px

        .contenido
            display: inline-block
            vertical-align: top
            .text
                font-family: "Arial"
                width: 400px
                display: inline-block
                vertical-align: top
                margin-left: 150px
                margin-top: 260px
                .txt1
                    
                    font-weight: bold
                    color: #fe3f40
                .txt2
                    line-height: 1.3
                    font-weight: bold
                    margin-top: 20px
                    color: black  
                    font-size: 45px
                    .DI
                        color: #40b8f0
                    .SEO
                        color: #fe3f40
                .txt3
                    margin-top: 20px
                    color: black  
                    line-height: 1.3
                    .TM
                        color: #3683fd 
                .rect
                    margin-top: 20px
                    position relative
                    height: 55px
                    width: 400px
                    border-radius: 28px
                    background: #40b8f0  
                    .txt
                        position:absolute
                        top: 20px
                        left:14px

                        
                        color: white
                    .AS
                        position: absolute
                        left: 290px
                        top:7px
                        height: 40px
                        width: 100px
                        border-radius:21px
                        background: white
                        border:none
                        .AnS
                            color:red


            .imgg
                display: inline-block
                margin-top: 120px
                margin-left: 70px      
.sec2
    //margin-left: 200px
    height: 800px
    width: 1862px
    background-image: url("../imgs/about-bg.png")
    background-size: cover
    article
        position:relative
        .imagen
            display: inline-block
            position: relative
            img
                display: inline-block
                position: absolute
                left: 330px 
                top: 220px
        .contenido
            width: 500px
            display: inline-block
            position: absolute
            left: 800px
            top: 250px
            .tabla
                color: white
                position:relative
                .fila1
                    .columna1
                        width: 180px
                        position:relative
                        .txt
                            position: absolute
                            left: 80px
                            bottom: 10px
                            padding-top 20px
                            line-height: 2
                            .titulo
                                //position: absolute
                            .texto
                                padding-top:20px

                    .columna2
                        left: 200px
                        position:relative
                        width: 100px
                        .txt
                            position: absolute
                            left: 80px
                            bottom:10px
                            padding-top 20px
                            line-height: 2
                            .titulo
                                width: 100px
                                //position: absolute
                            .texto
                                padding-top:20px
                .fila2
                    padding-top: 50px
                    //position:relative
                    .columna1
                        padding-top: 60px
                        width: 180px
                        position:relative
                        .txt
                            position: absolute
                            left: 80px
                            bottom: 10px
                            padding-top 20px
                            line-height: 2
                            .titulo
                                //position: absolute
                            .texto
                                padding-top:20px

                    .columna2
                        position: relative
                        left:200px
                        width: 200px
                        position:relative
                        .txt
                            position: absolute
                            left: 80px
                            bottom: 10px
                            padding-top 20px
                            line-height: 2
                            .titulo
                                //position: absolute
                            .texto
                                padding-top:20px
                .titulo
                    font-weight: bold
                    text-decoration: none
                    font-size: 15px
                .texto
                    text-decoration: none
.sec3
    background-image: url(../imgs/contact-bg.png)
    height: 900px
    width: 1862px
    background-size: cover
    position: relative
    article
        height: 900px
        width: 1862px
        //position: relative
        .contenido2
            width: 400px
            height: 200px
            position:absolute
            vertical-align: center
            top: 400px
            left: 400px
            .text2
                color: white
                position:absolute
                width: 300px
                font-family: "arial"
                position : absolute
                .txt1
                    font-size: 30px
                .txt2
                    top: 100px
                    font-size:15px
                    position: absolute
                    color: white
        .table
            position: absolute
            top: 200px
            display: inline-block
        .figura
            color: white
            display: inline-block
            height: 400px
            width: 500px
            background-color: white
            border-radius: 50px
            position: absolute
            left: 400px
            top: -70px
            .figura1
                display: inline-block
                height: 30px
                width: 200px
                background-color: #3683fd 
                border-radius: 25px
                position: absolute
                top: 60px
                left: 30px
                justify-content: center
                .s1
                    position: absolute
                    top: 6px
                    left: 30px
            .figura2
                height: 30px
                width: 200px
                background-color: #3683fd 
                border-radius: 25px
                position: absolute
                top: 60px
                left: 260px
                .s2
                    position: absolute
                    top: 6px
                    left: 30px
            .figura3
                
                height: 30px
                width: 430px
                background-color: #3683fd 
                border-radius: 25px
                position: absolute
                top: 110px
                left: 30px
                .s3
                    position: absolute
                    top: 6px
                    left: 30px
            .figura4
                height: 130px
                width: 430px
                background-color: #3683fd 
                border-radius: 25px
                position: absolute
                top: 160px
                left: 30px
                .s4
                    position: absolute
                    top: 6px
                    left: 30px
            .boton1
                height: 40px
                width: 150px
                background-color: #40b8f0
                border-radius: 25px
                position: absolute
                top: 310px
                left: 30px
                border: none
                color: white
        .imgf
            position: absolute
            left: 880px



                
